<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dummy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <script type="importmap">
      {
    "imports": {
      "@rails/activestorage": "https://ga.jspm.io/npm:@rails/activestorage@7.2.100/app/assets/javascripts/activestorage.esm.js"
    }
  }
    </script>

    <script type="module">
      import * as ActiveStorage from "@rails/activestorage"

      window.ActiveStorage = ActiveStorage
      ActiveStorage.start()
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
